# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [5]:
xVector = np.zeros(10)
xVector

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [4]:
yVector = np.arange(10,50)
yVector

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [8]:
np.shape(yVector)

(40,)

5. Print the type of the previous array in question 3

In [9]:
type(yVector)

numpy.ndarray

6. Print the numpy version and the configuration

In [10]:
np.version.version

'1.18.1'

7. Print the dimension of the array in question 3

In [14]:
yVector.ndim

1

8. Create a boolean array with all the True values

In [16]:
boolVector = np.array([True, True, True])
boolVector

array([ True,  True,  True])

9. Create a two dimensional array

In [20]:
dim2array = np.arange(0,9).reshape(3,3)
dim2array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

10. Create a three dimensional array

In [21]:
dim3array = np.arange(0,27).reshape(3,3,3)
dim3array

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [23]:
np.flip(yVector)

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

12. Create a null vector of size 10 but the fifth value which is 1

In [24]:
z = np.zeros(10)
z[4] = 1

13. Create a 3x3 identity matrix

In [28]:
identity = np.ones(9 , dtype=int).reshape(3,3)
identity

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [29]:
arr = np.array([1, 2, 3, 4, 5])
floatArray = np.array(arr , dtype=float)
floatArray

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [30]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
arr1 * arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])

---

Make an array by comparing both the arrays provided above

In [32]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])
comparedResult = arr1 == arr2
comparedResult

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [33]:
a = np.arange(0,10)
a[a % 2 == 1]

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [35]:
a = np.arange(0,10)
a[a % 2 == 1] = -1
a

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [36]:
arr = np.arange(10)
arr[5:9]=12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [42]:
zeroCentered = np.ones(9, dtype=int).reshape(3,3)
zeroCentered[1,1]=0
zeroCentered

array([[1, 1, 1],
       [1, 0, 1],
       [1, 1, 1]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [102]:
arr2d = np.array([[1, 2, 3],
            [4, 5, 6], 
            [7, 8, 9]])
arr2d[arr2d==5] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [57]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0:1,0:1] =64
arr3d

array([[[64, 64, 64],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [66]:
arr2d = np.arange(0,9).reshape(3,3)
sliced1stRow = arr2d[0:1]
sliced1stRow

array([[0, 1, 2]])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [70]:
arr2d = np.arange(0,9).reshape(3,3)
slicedElement = arr2d[1:2,1:2]
slicedElement

array([[4]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [71]:
arr2d = np.arange(0,9).reshape(3,3)
slicedColumn = arr2d[0:2,2:3]
slicedColumn

array([[2],
       [5]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [76]:
random10x10 = np.random.rand(10,10)
min = random10x10.min()
max = random10x10.max()
min,max

(0.010917856884960941, 0.972193611920372)

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [78]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
common = np.intersect1d(a, b)
common

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [81]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
index = a == b 
np.where(index==True)

(array([1, 3, 5, 7]),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [82]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [87]:
fiveByThree = np.arange(1,16, dtype=float).reshape(5,3)
fiveByThree

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.],
       [13., 14., 15.]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [88]:
arr3d = np.arange(1,17, dtype=float).reshape(2,2,4)
arr3d

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.]],

       [[ 9., 10., 11., 12.],
        [13., 14., 15., 16.]]])

33. Swap axes of the array you created in Question 32

In [89]:
arr3d = np.arange(1,17, dtype=float).reshape(4,2,2)
arr3d

array([[[ 1.,  2.],
        [ 3.,  4.]],

       [[ 5.,  6.],
        [ 7.,  8.]],

       [[ 9., 10.],
        [11., 12.]],

       [[13., 14.],
        [15., 16.]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [128]:
tenSize = np.arange(10)
ten = np.sqrt(tenSize)
ten[ten<.5]=0
ten

array([5.38516481, 8.88819442, 6.08276253, 6.55743852, 8.94427191,
       7.61577311, 3.87298335, 6.63324958, 9.8488578 , 6.8556546 ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [131]:
a = np.random.randint(0,10,12)
b = np.random.randint(0,10,12)
print(a,b)
c = np.where(a>b,a,b)
print(c)

[5 5 1 5 9 2 8 3 8 5 0 7] [3 7 1 8 7 0 5 7 2 8 8 1]
[5 7 1 8 9 2 8 7 8 8 8 7]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [135]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
b=np.unique(names)
print(b)

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [147]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

z=np.delete(a,np.where(a==np.intersect1d(a,b)))
print(z)

[1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [153]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
sampleArray[0:,1:2] = newColumn.reshape(3,1)
sampleArray

array([[34, 10, 73],
       [82, 10, 12],
       [53, 10, 66]])

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [155]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
z=np.dot(x,y)
z

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [164]:
random = np.random.randint(0,5,20).reshape(4,5)
value = np.cumsum(random)
print (value)

[ 0  3  6  6  8 12 15 18 20 22 25 28 29 31 31 35 35 35 37 39]